
html {
	height: 100%;
	width: 100%;
}

body{
	min-height: 100vh;
	width: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: green;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 15vw;
}

#ComingSoon {
	font-size: 10vw;
}

.Div1 {
	margin: auto;
	text-align: center;
	font-size: 5vw;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-style: double;
	border-width: 5px;
	border-radius: 50%;
}

.Div2 {
	text-align: center;
	font-size: 5vw;
}

#name {
	width: 50%;
	padding: 5px;
	margin: 5px;
	color: green;
	border: solid purple;
	border-radius: 6px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3vw;
}

#name:hover {
	box-shadow: 4px 4px rgb(53, 1, 53);
}

#email {
	width: 50%;
	padding: 5px;
	margin: 5px;
	border: solid purple;
	border-radius: 6px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3vw;
}

#email:hover {
	box-shadow: 4px 4px rgb(53, 1, 53);
}

#phone {
	width: 30%;
	padding: 5px;
	margin: 5px;
	border: solid purple;
	border-radius: 6px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3vw;
}

#phone:hover {
	box-shadow: 4px 4px rgb(53, 1, 53);
}

#date {
	padding: 5px;
	border: solid purple;
	border-radius: 6px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3vw;
}

#date:hover {
	box-shadow: 4px 4px rgb(53, 1, 53);
}
